<a href="https://colab.research.google.com/github/WillNort/Data-Applications-in-Business/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
snoasisData = pd.read_csv("https://raw.githubusercontent.com/nurfnick/SnOasis/main/snoasisData.csv")
snoasisData.head()

,Date,Time,Staff,Receipt number,Name,Variant,Unit,Quantity,Price (USD),Discount (USD),Subtotal (USD),Tax Info Available,Is Tax Exempt,Total tax collected (USD),Final price (USD),SKU,Barcode,Cost price,Comment
0,2/28/2023,7:50:56?PM,SnOasis Main,1,Gift card,NaN,NaN,1,1.0,0.0,1.0,No,No,0.00,1.00,NaN,NaN,0.0,NaN
1,2/28/2023,7:52:12?PM,SnOasis Main,2,Gift card,NaN,NaN,1,1.0,0.0,1.0,No,No,0.00,1.00,NaN,NaN,0.0,NaN
2,2/28/2023,7:58:14?PM,SnOasis Main,3,Gift card,NaN,NaN,1,1.0,0.0,1.0,No,No,0.00,1.00,NaN,NaN,0.0,NaN
3,2/28/2023,8:21:15?PM,SnOasis Main,4,Candy Bar,NaN,NaN,1,1.5,0.0,1.5,Yes,No,0.14,1.64,NaN,NaN,0.0,NaN
4,2/28/2023,9:29:15?PM,SnOasis East,5,Gift card,NaN,NaN,1,1.0,0.0,1.0,No,No,0.00,1.00,NaN,NaN,0.0,NaN

In [23]:
snoasisData["Date"].describe()

count        76219
unique         236
top       5/6/2023
freq           671
Name: Date, dtype: object

In [22]:
snoasisData["Time"].describe()

count          76219
unique         21417
top       2:48:12?PM
freq              37
Name: Time, dtype: object

In [24]:
snoasisData["Staff"].describe()

count            76219
unique               4
top       SnOasis Main
freq             38804
Name: Staff, dtype: object

In [25]:
snoasisData["Receipt number"].describe()

count    76219.000000
mean     18402.852281
std      10704.917961
min          1.000000
25%       9205.500000
50%      18360.000000
75%      27631.500000
max      37196.000000
Name: Receipt number, dtype: float64

In [26]:
snoasisData["Name"].describe()

count      76214
unique        42
top       Medium
freq       16391
Name: Name, dtype: object

In [27]:
snoasisData["Variant"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Variant, dtype: float64

In [28]:
snoasisData["Unit"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Unit, dtype: float64

In [29]:
snoasisData["Quantity"].describe()

count    76219.000000
mean         1.463730
std          0.866411
min         -6.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         40.000000
Name: Quantity, dtype: float64

In [30]:
snoasisData["Price (USD)"].describe()

count    76219.000000
mean         2.628208
std          2.384576
min        -12.000000
25%          1.000000
50%          2.000000
75%          3.500000
max        104.500000
Name: Price (USD), dtype: float64

In [31]:
snoasisData["Discount (USD)"].describe()

count    76219.000000
mean        -0.000861
std          0.057335
min         -8.150000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.000000
Name: Discount (USD), dtype: float64

In [32]:
snoasisData["Subtotal (USD)"].describe()

count    76219.000000
mean         6.508251
std          9.356876
min        -12.500000
25%          3.750000
50%          5.500000
75%          7.750000
max        320.000000
Name: Subtotal (USD), dtype: float64

In [33]:
snoasisData["Tax Info Available"].describe()

count     76218
unique        2
top         Yes
freq      76028
Name: Tax Info Available, dtype: object

In [34]:
snoasisData["Is Tax Exempt"].describe()

count     76218
unique        2
top          No
freq      76217
Name: Is Tax Exempt, dtype: object

In [35]:
snoasisData["Total tax collected (USD)"].describe()

count    76219.000000
mean         0.245802
std          0.219810
min         -1.130000
25%          0.090000
50%          0.190000
75%          0.330000
max          9.800000
Name: Total tax collected (USD), dtype: float64

In [36]:
snoasisData["Final price (USD)"].describe()

count    76219.000000
mean         2.873148
std          2.598814
min        -13.130000
25%          1.090000
50%          2.190000
75%          3.830000
max        114.300000
Name: Final price (USD), dtype: float64

In [37]:
snoasisData["SKU"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: SKU, dtype: float64

In [38]:
snoasisData["Barcode"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Barcode, dtype: float64

In [39]:
snoasisData["Cost price"].describe()

count    76218.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: Cost price, dtype: float64

In [40]:
snoasisData["Comment"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Comment, dtype: float64